<h1>Upload CSV</h1>
<div class="row">
	<div class="col-12 mb-3">
		<%= link_to 'Return to daily production list', productions_path, class: 'btn btn-secondary' %>
	</div>
	<div class="col-12">
		<%= form_with(url: productions_path, multipart: true) do %>
			<div class="form-group">
				<%= file_field_tag :file, accept: ".csv" %>
			</div>
			<%= submit_tag("Import", class: "btn btn-primary") %>
		<% end %>
	</div>
</div>
